html
{
	height: 100%;
	width: 100%;
	margin: 0;
}

body
{
	height: 100%;
	width: 100%;
	min-width: 970px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav
{
	margin-right: 15px
}

ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end
}

li
{
	padding-right: 15px;
	color: black;
}

.bouton_menu
{
	color:black;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.bouton_menu:hover
{
	color:grey;
	text-decoration: underline;
}

#sign_in
{
	border:1px solid #4285f4;
	font-size: 13px;
	font-weight: bold;
	background: #4285f4;
	padding: 8px;
	border-radius: 3px;
	font-family: arial, sans-serif;
	color: white;
	text-decoration: none;
}

section
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#logo
{
	margin: auto;
}

#recherche
{
	margin: auto;
	padding-top: 20px;

}

.input
{
	height: 30px;
	width: 500px;
	font-size: 16px;
	font-family: arial;
	border: 1px solid #c6c6c6;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.input:hover
{
	box-shadow: 7px 7px 7px rgba(0,0,0,0.1)	
}

.list
{	
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.bouton_recherche
{
text-decoration: none;
font-weight: bold;
color: grey;
font-family: arial, sans-serif;
border: 2px solid #f8f8f8;
background-color: #f8f8f8;
margin: 5px;
padding: 10px;
}

.bouton_recherche:hover
{
	color: black;
	border: 1px solid grey;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 
	rgba(0,0,0,0.1);
}

footer
{
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;

}

.pre_footer
{
	border: 0.5px #d6d6d6;
	border-style: dotted none;
	padding-left: 20px;
	font-size: 15px;
	font-family: arial, sans-serif;
	color: rgba(0,0,0,.54);
	padding-top: -3px;

}

.post_footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 20px;
	font-size: 14px;
	font-family: arial, sans-serif;
	margin: 7px 0;
	padding-top: 3px;
}

#bas_gauche
{
	display: flex;
	justify-content: flex-start;

}

#bas_gauche a
{
	text-decoration: none;
	margin-right: 20px;
	color: rgba(0,0,0,.54);
	
}

#bas_gauche a:hover
{
	text-decoration: underline;
}

#bas_droite
{
	display: flex;
	justify-content: flex-end;
	
}

#bas_droite a
{
	text-decoration: none;
	padding-right: 20px;
	color: rgba(0,0,0,.54);

}

#bas_droite	 a:hover
{
	text-decoration: underline;
}
